* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2d2c41;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}


/** =======================
 * Contenedor Principal
 ===========================*/

h1 {
	color: #FFF;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin-top: 80px;
}

h1 a {
	color: #c12c42;
	font-size: 16px;
}

.accordion {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0px auto 20px;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 15px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


/**
 * Submenu
 -----------------------------*/

.submenu {
	display: none;
	background: #EDEEF0;
	font-size: 14px;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: #858686;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu a:hover {
	background: #EDEEF0;
	color: #858686;
}

.submenu img {
	display: block;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
}

.parent_img {
	position: absolute;
	margin-top: 15px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
}

.location_icon {
	position: absolute;
	display: none;
	height: 20px;
	width: 20px;
}

#grey_background {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background: black;
	filter: alpha(Opacity=80);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#test_list {
	position: absolute;
	width: 280px;
	height: 100%;
	overflow-y: scroll;
	display: none;
	background: white;
}

#floor_icon {
	position: absolute;
	width: 100%;
	height: 100%;
}

.icon_location_layer{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.icon_location_layer img{
	position: absolute;
}

.floor_icon_location_layer{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.floor_icon_location_layer img{
	position: absolute;
}

.class_button {
	font-size: 20px;
	color: white;
	line-height: 40px;
	text-align: center;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#icon_button {
	position: absolute;
	margin-left: 0px;
	margin-top: 40px;
	width: 138px;
	height: 41px;
	float: left;
	background: url(../images/bttn_IconDes.png);
	background-size: 100% 100%;
}

#zone_button {
	margin-left: 15px;
	margin-top: 430px;
	width: 290px;
	height: 40px;
	position: absolute;
	background: url(../images/bttn_ZoneDes.png);
	background-size: 100% 100%;
}

#myBackground {
	width: 100%;
	height: 100%;
	position: absolute;
}

#myFloorplan {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

#myHall {
	margin-left: 0px;
	margin-top: 85px;
	width: 320px;
	height: 360px;
	position: absolute;
}

.cell_background{
	background: url(../images/cellbanner.png)  no-repeat;
	background-size:280px 38px;
}

#zone_list{
	position: absolute;
	width: 280px;
	height: 100%;
	right: 0px;
	overflow-y: scroll;
	display: none;
	background: white;
}

.zone_header{
	text-decoration: none;
	color: black;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.zone_item{
	text-decoration: none;
	padding: 6px;
	padding-left: 42px;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.text_blue_color{
	color: #6699FF;
}
.text_purple_color{
	color: #7030A0;
}
.text_lightblue_color{
	color: #31849B;
}
.text_orange_color{
	color: #E36C0A;
}

.text_lightgreen_color{
    color: #5AA28A;
}

.text_peachred_color{
    color: #D23CAE;
}

.text_greenyellow_color{
    color: #918C5E;
}




#floor_overview{
	position: absolute;
	margin-left: 175px;
	margin-top: 5px;
	width: 133px;
	height: 80px;
	background-size: 100% 100%;
}

.icon_click_layer{
	position: absolute;
	height: 10px;
	width: 10px;
	opacity: 0;
}


